* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

}

body {
    background-color: hsl(185, 41%, 84%);
}

.main {
    position: absolute;
    max-width: 1440px;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    border: 1px dotted red;
    display: grid;
    grid-template-rows: 1fr 3fr;


    .img {
        position: relative;
        left: 50%;
        top: 3em;
        transform: translate(-50%);
    }

    .calculatror {
        font-family: monospace;
        position: relative;margin-bottom: 100px;
        left: 50%;
        top: 50%;
        // height: 400px;
        transform: translate(-50%, -50%);
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr ;
        border: 1px dashed blue ;

        .form{
            display: grid;
            grid-template-rows: 1fr 2fr 1fr;
            grid-column: 1;

            .bill{
                grid-row: 1;
            }

            .selectTip{
                grid-row: 2;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: 1fr 1fr 1fr;
                gap: 5px;

                .selectBtn{
                font-size: 24px;
                gap: 10px;
            }
            .selectInput{
                font-size: 24px; 
                max-width: 100px;
            }
            }

            .numberOfPeople{
                grid-row: 3;
            }

            .input{
                font-size: 24px;
            }
            
        }
        .outputForm{
            display: grid;
            grid-template-rows: 1fr 2fr 1fr;
            grid-column: 2;
            

            .btn{
                grid-row: 2;
            }
        }
    }
}