* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

}

body {
    background-color: hsl(185, 41%, 84%);
}

.main {
    position: absolute;
    max-width: 1440px;
    height: 100%;
    // top: 50%;
    left: 50%;
    transform: translateX(-50%);
    border: 1px dotted red;
    // display: grid;
    // grid-template-rows: 1fr 1fr;

    .img {
        position: relative;
        left: 50%;
        top: 3em;
        transform: translate(-50%);
    }

    .calculatror {
        font-family: monospace;
        position: relative;
        margin-bottom: 100px;
        left: 50%;
        top: 50%;
        // height: 300px;
        transform: translate(-50%, -50%);
        display: grid;
        grid-template-columns: 1fr 1fr;
        // grid-template-rows: 1fr 1fr;
        border-radius: 15px;
        padding: 15px;
        background-color: white;
        gap: 15px;

        .form {
            display: grid;
            grid-template-rows: 1fr 2fr 1fr;
            grid-column: 1;

            .bill {
                grid-row: 1;

                .inputBill {
                    font-size: 24px;
                    max-width: 180px;
                    background: #f3f8fb url(../../img/icon-dollar.svg) no-repeat 10% 50%;
                    text-align: right;
                    border: none;
                }
            }

            .selectTip {
                grid-row: 2;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: 1fr 1fr;
                gap: 5px;

                .btn5 {
                    font-size: 24px;
                    background-color: #00474b;
                    border-radius: 5px;
                    border: none;
                    color: white;
                }

                .btn10 {
                    font-size: 24px;
                    background-color: #00474b;
                    border-radius: 5px;
                    border: none;
                    color: white;
                }

                .btn15 {
                    font-size: 24px;
                    background-color: #00474b;
                    border-radius: 5px;
                    border: none;
                    color: white;
                }

                .btn25 {
                    font-size: 24px;
                    background-color: #00474b;
                    border-radius: 5px;
                    border: none;
                    color: white;
                }

                .btn50 {
                    font-size: 24px;
                    background-color: #00474b;
                    border-radius: 5px;
                    border: none;
                    color: white;
                }

                .selectInput {
                    font-size: 24px;
                    max-width: 90px;
                    text-align: right;
                }
            }

            .numberOfPeople {
                grid-row: 3;

                .inputPeople {
                    font-size: 24px;
                    max-width: 180px;
                    background: #f3f8fb url(../../img/icon-person.svg) no-repeat 10% 50%;
                    text-align: right;
                    border: none;
                }
            }



        }

        .outputForm {
            display: grid;
            grid-template-rows: 1fr 2fr 1fr;
            grid-column: 2;
            border-radius: 15px;
            background-color: #00474b;
            padding: 15px;

            .btn {
                grid-row: 3;
                padding: 10px 15px;
                background-color: #9fe8df;
                border: none;
                border-radius: 5px;
                font-weight: 1000;
                color: #00474b;
                text-transform: uppercase;
                justify-self: center;
                align-self: center;
                // text-align: center;
                // height: 2em;
                // width: 5em;

            }
        }
    }
}